.container {
  margin-top: 50px;
}

input[type=text], input[type=password] {
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: rgb(223, 222, 222);
}

button[type=submit] {
  border-radius: 30px;
  width: 100px;
  color: hotpink;
}

#logintitle {
  margin-top: 50px;
}


div.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid hotpink;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  
}

footer ul {
  list-style: none;
}

footer a {
  color: hotpink;
  text-decoration: none;
  
}

footer {
  
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  min-height: 80px;
  border-top: 2px solid #f5f5f5;
  background-color: #333;
  color: #fff;
}

footer div.flex-container {
  display: flex;
  justify-content: space-around;
  min-width: 600px;
}

a {
  text-decoration: none;
  color:#333;
}

a:hover {
  color:rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color:#333;
}

a:hover {
  color:rgb(0, 0, 0);
}

#nav {
  margin-bottom: 0!important;
}

.notfound {
  padding-top: 15%;
  text-align: center;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.message {
  text-align: center;
  color:rgb(48, 152, 41)
}

.signup input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 1rem;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.signup button {
  border: none;
  padding: 1rem;
  width: 20rem;
  font-size: 1em;
  border-radius: 0.2rem;
  cursor: pointer;
}

.signup button:hover {
  background-color: #c5c5c5;
}

.V1 {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}

.V9 {
  width: 50%;
}